

    {{# plain comment #}}

    {{#- comments can be trimmed -#}}

    {{#

        Use ` ⌥`+`⇧`+`⌘`+`/` on OSX,
        or `⌥`+`⇧`+`ctrl`+`/` on Windows
        to toggle vento comments.

        {{> console.log('test') }}

    #}}
