        {{# This is a sample web page #}}
        {{#- trimmed comment -#}}

        {{ username || "unknown" }}
        {{ "Hello World!" |> toUpperCase }}

        {{ for value of collection |> toUpperCase}}
          {{ value }}
        {{ /for}}
        {{ import { component } from "path/to/file.vto" }}

        {{ export message = "Hello World!" }}

        {{ export message }}
            <h1>Hello World!</h1>
        {{ /export }}

        {{ export function sayHello(name) }}
            <h1>Hello {{ name }}!</h1>
        {{ /export }}

        {{ set message = "Hello World!" }}

        {{ layout "section.vto" {department: "Marketing", active: true} }}
          {{ slot header |> toUpperCase }}
            <h1>Section title</h1>
          {{ /slot }}
          <p>Content of the section</p>
        {{ /layout }}

        {{ include "/my-file.vto" {salute: "Good bye", size: 10 } |> toUpperCase }}

        {{> console.log('Hello World') }}