{{ export function message (name) }}
  Hello, {{ name }}!
{{ /export }}

{{ function hello }}
  Hello, world!
{{ /function }}

{{ function hello(name = "world") }}
  Hello, {{ name }}!
{{ /function }}

{{ hello() }}

{{ hello("Vento") }}

{{ async function hello }}
  {{ await Promise.resolve("Hello, world!") }}
{{ /function }}

{{ await hello() }}
