
{{ import { foo } from "./util.vto" }}
{{ import foo  from "util.vto" }}
{{ import { foo as f, bar,    _,	$ } from "./util.vto" }}
{{ import foo from "./util.vto" }}

<!-- ERRORS -->
{{ import {foo  from "./file.vto" }}
{{ import from "./util.vto" }}
{{ import foo  "./util.vto" }}
{{ import foo fro "./util.vto" }}
{{ import foo from }}
{{ import foo from "./file.vto }}




