{{ include "./page.vto" }}

{{ include "/sub/my-file.vto" { salute: "Very" + " " + "Welcome"} }}

{{ include "/sub/my-file.vto" {
  salute: "Very" + " " + "Welcome"
} }}

{{ include "/my-file.vto" {salute: translate("hello")} |> toUpperCase }}

{{ include "/my-file.vto" {salute: "Hello from include"} }}

{{ include `${file}.vto` { name: name } }}

{{ include resolve({ path: "/my-file.vto" }) { name } }}