---
draft: true
visibility: 'unlisted'

# equal
flags:
  - draft
  - unlisted
---

<html lang="en">
<head>
  {{##}}
  <style>
    .foo {
      background: blue;
    }
  </style>
</head>
<body>
  <header>
    <h1>My Blog</h1>
    <p>There are many cool things to read here</p>
  </header>
  <main>
    <h2 style="accent-color: {{ color }}">{{ title }}</h2>
    <section>
      {{ content }}
    </section>
    {{ include "./comments.vto" }}
  </main>
  <footer id="{{ footerId }}">
    Copyright (c) {{ new Date().getFullYear() }} -- All rights reserved.
  </footer>
</body>
</html>

