{{ "<h1>Hello, world!</h1>" |> escape }}
{{ myTrustedSource.getHtml() |> safe }}
{{ "<h1>Hello, world!</h1>" |> filter_name(arg1, arg2) }}
{{ { name: "Óscar", surname: "Otero" } |> JSON.stringify }}
{{ { name: "Óscar", surname: "Otero" } |> JSON.stringify(null, 2) }}
{{ "Hello, world!" |> toUpperCase }}
{{
  "https://example.com/data.json"
  |> await fetch
  |> await json
  |> JSON.stringify
}}

<!-- ERRORS -->
{{ { name: "Óscar", surname: "Otero" } | > JSON.stringify(null, 2) }}

