.gradle
.intellijPlatform
build
/.idea/gbrowser_project.xml
/.idea/gbrowsers.xml
/.idea/highlightedFiles.xml
/.idea/jsLibraryMappings.xml
/.idea/inspectionProfiles/Project_Default.xml

/idea-flex.skeleton

/src/main/gen
